<div id = "<%=  articles.id  %>" class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">

    <div class="mdl-card__media mdl-color-text--grey-50">

        <button data= "<%=  articles.id  %>" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent edit-button" style=" position: absolute;top: 130px;right: 28px;">
                <i class="material-icons mdl-color-text--white" role="presentation">edit</i>
                <span class="visuallyhidden">edit</span>
              </button>
        <button data = "<%=  articles.id  %>" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent delete-button" style=" position: absolute;top: 130px;right: 100px;">
                    <i class="material-icons mdl-color-text--white" role="presentation">delete</i>
                    <span class="visuallyhidden">delete</span>
                  </button>

        <h3>
            <a href="/article/<%=  articles.id  %>">
                <%=  articles.title  %>
            </a>

        </h3>


    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        <%=  articles.body.replace(/<[^>]+>/g, '').slice(0, 400)  %>
    </div>
    <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
        <div>
            <strong><span> <%=  articles.createdAt  %></span></strong>
        </div>

        <i class="material-icons mdl-color-text--white" role="presentation">edit</i>
        <span class="visuallyhidden">edit</span>
    </div>
</div>